<h1>Credentials</h1>

<h2>Verifiable Credential</h2>

<%= @credential_payload %>

<br>

<br>

<%= @credential_encoded_token %>

<br>

<br>

<%= @credential_decoded_payload %>

<br>

<br>

<h2>Verifiable Presentation</h2>

<%= @presentation_payload %>

<br>

<br>

<%= @presentation_encoded_token %>

<br>

<br>

<%= @presentation_decoded_payload %>
